Whatsapp_based_chat_bot/main_file
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "400573a1-7555-4e38-9dfb-ad7e8dfe1012",
      "name": "WhatsApp Trigger",
      "webhookId": "bc207ce5-3e2a-4473-869a-8fce4d1ba8d1",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "8olXBpM5cZgtOQY1",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "0c512042-fd89-45d7-bc4a-3aedd0ccdf3d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        240
      ],
      "id": "e2fe8ad2-4a23-4796-b2f2-ae9a9f389d58",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8nxnqHx8iYbZNJAV",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        260
      ],
      "id": "b580d418-e5f1-470b-ba63-ea3f9ff4700c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "667316079805415",
        "recipientPhoneNumber": "+917042256625",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "dde3b3d3-56b1-40a8-993f-f81c0aa50e00",
      "name": "WhatsApp Business Cloud",
      "webhookId": "8a7f3944-3d43-4abf-806c-cd017dba27e9",
      "credentials": {
        "whatsAppApi": {
          "id": "31BIRlWtO2m76dAj",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "909085f42eb97c736deb6b82d2c110f03ccf50d782b66aa0c8b46722c473d9a6"
  }
}
